[submodule "web-submodule"]
	path = web-submodule
	url = https://github.com/PetarIvancevic/web-submodule.git
	branch = master
[submodule "api-submodule"]
	path = api-submodule
	url = https://github.com/PetarIvancevic/api-submodule.git
	branch = master
